.card_items{
    transition: 2s;
}
.card_items:hover{
    box-shadow:  0px 10px 5px rgb(201, 206, 211);
}

.table_cart{
    box-shadow: 0px 5px 3px rgb(238, 229, 229);
}
.card_items{
    flex-wrap: wrap;
    margin-top: 5rem;
    margin-left: 18rem;
}